/* CSS cho phân trang */
.pagination {
    display: inline-block;
    font-size: 14px;
}

.pagination .page-numbers {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin: 5px;
}

.pagination .prev, .pagination .next {
    padding: 8px 16px;
    font-weight: bold;
}

.pagination .prev:hover, .pagination .next:hover, .pagination .page-numbers:hover {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
}

.current {
    border-radius: 10px;
    font-weight: 600;
    background-color: #007bff;
}